/* .container {
	width: 100%;
	border: 1px solid #000;
}

span {
	font-size: 72px;
}
769 >= x >= 1200
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.container {
		width: 50%;
		border: 10px solid #ff0000;
	}

	span {
		font-size: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 20%;
	}

	span {
		font-size: 16px;
	}
}
@media screen and (max-width: 375px) {
	.container {
		display: none;
	}
}

 */

.container {
	display: none;
	border: 1px solid #000;
}
span {
	font-size: 16px;
}

@media screen and (min-width: 375px) {
	.container {
		width: 20%;
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 50%;
	}
	span {
		font-size: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 100%;
	}
	span {
		font-size: 72px;
	}
}
